* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../imagenes/fondo1.jpeg);
}

.nombre {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #a592ce;
  border: 2px solid #c4b6e4;
}

h1 {
  display: flex;
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
}

h3 {
  color: #a592ce;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.3);
  transition-duration: 1s;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-brand:hover {
  transition-duration: 50ms;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 55px magenta, 0 0 75px magenta;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.3);
  transition-duration: 1s;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover {
  transition-duration: 50ms;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 55px magenta, 0 0 75px magenta;
}

.tarjeta {
  border: 2px solid #e4bcc5;
  background-color: rgba(255, 255, 255, 0.5);
  width: 250px;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tarjeta__img {
  width: 100%;
}
.tarjeta__titulo {
  margin-top: 15px;
}
.tarjeta__precio {
  display: block;
  padding: 10px 0;
  font-size: 1.5rem;
}
.tarjeta__boton {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.3);
  transition-duration: 1s;
  background: black;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}
.tarjeta__boton:hover {
  border: 2px solid white;
  color: white;
  transition-duration: 50ms;
  background: #000000;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 55px magenta, 0 0 75px magenta;
}
.tarjeta__boton__cantidad {
  width: 35px;
}

footer {
  width: 100%;
  padding: 10px;
  background-color: #c4b6e4;
}

.footer__text {
  margin-bottom: 10px;
  text-decoration: underline;
}
.footer__list {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  margin: 10px;
}
.footer__item1 {
  color: #a592ce;
}
.footer__item2 {
  color: #a592ce;
}
.footer__item3 {
  color: #a592ce;
}
.footer__item1:hover {
  color: #e4bcc5;
}
.footer__item2:hover {
  color: #e4bcc5;
}
.footer__item3:hover {
  color: #e4bcc5;
}

h2 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #c4b6e4, pink, #a592ce, #c4b6e4);
  background-size: 100%;
  animation: sliding 100s linear infinite;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes sliding {
  to {
    background-position: -2000vw;
  }
}
.link {
  padding: 9px;
  border: 2px solid #e4bcc5;
  border-radius: 7px;
  color: black;
}
.link:hover {
  color: black;
  background-color: white;
}

.titulo__agendar {
  background-color: #c4b6e4;
  padding: 10px;
  margin-bottom: 100px;
}

.section__turnos {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-bottom: 25rem;
}

.franquicias__section {
  margin-top: 7rem;
  margin-bottom: 30rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}

.mapa {
  margin-top: 30px;
}

.section__nosotros {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.titulo__h3 {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
}/*# sourceMappingURL=main.css.map */