.titulo__agendar {
    background-color: $color-claro;
    padding: 10px;
    margin-bottom: 100px;
}

.section__turnos {
    background-color: $transparente;
    padding: 20px;
    margin-bottom: 25rem;
}

.formulario__submit{
    color: $color-oscuro;
    background-color: $rosa;
    margin: 10px;
    border-radius: 16px;
}