.titulo__agendar {
    background-color: rgb(245, 175, 175);
    padding: 10px;
    margin-bottom: 100px;
}

.section__turnos {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 25rem;
}
